* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background: white(54, 180, 54) ;
}
.heading {
    justify-content: center;
    text-align: center;
}
.heading-u {
    font-size: 35px;
    color: green;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
}

.about {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    padding: 15px;
}
.about img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.permbajtja {
    padding: 25px;
    max-width: 600px;
}
.permbajtja h4 {
     color: olive;
     font-size: 1.5em;
     margin-bottom: 10px;
}
.permbajtja p {
    color: black;
    font-size: 1em;
    line-height: 1.6;
    margin: 15px 5px;
}
.buttoni {
    background-color:rgb(12, 116, 28);
    color: black;
    border: none;
    border-radius: 3.5px;
    cursor: pointer;
    margin: 12px 20px;
    font-size: 18px;
    padding: 8px;
    transition: 0.4s ease;
}
.buttoni:hover {
    background-color: rgb(48, 168, 74);
}
