* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white ;
}
.banner {
    width: 100%;
    background-size: cover;
    background-position: center;
}
.nav-bar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo {
    font-size: 28px;
    margin: -5px 0;
    margin-left: -10px;
    color: rgb(70, 147, 70);
    user-select: none;
    cursor: pointer;
}
.menu {
    display: flex;
}

.menu li {
    padding-left: 20px;
    margin: 0px 15px;
    position: relative;
}

.menu li a {
    position: relative;
    font-size: 1.15em;
    display: inline-block;
    padding: 0 5px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    /*color: green;*/
    text-align: center;
    color: cadetblue;
    font-weight: 500;
    z-index: 99;
}

.menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 100%;
    height: 4px;
    background: darkkhaki;
    border-radius: 1em;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.menu li a:hover::after {
    transform: scaleX(1);
}

.Loginbtn {
    width: 100px;
    height: 40px;
    margin: -5px 0;
    margin-left: -10px;
    margin-left: 20px;
    background: transparent;
    border: 2px solid rgb(70, 147, 70);
    /*border: 2px solid green;*/
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(183, 121, 183);
    font-weight: 500;
    transition: .5s;
}

.Loginbtn:hover {
    background: rgb(70, 147, 70);
    color: white;
}

.open-menu , .close-menu {
    position: absolute;
    color: darkkhaki;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}

.heading-u {
    font-size: 35px;
    color: cadetblue;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.about {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    padding: 15px;
    padding-bottom: 100px;
    font-family: 'Arial', sans-serif;
}
.about img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.permbajtja {
    padding: 25px;
    max-width: 600px;
}
.permbajtja h4 {
     color: teal;
     font-size: 1.5em;
     margin-bottom: 10px;
}
.permbajtja p {
    color: black;
    font-size: 1em;
    line-height: 1.6;
    margin: 15px 5px;
}
.buttoni {
    background-color: cadetblue;
    color: black;
    border: none;
    border-radius: 3.5px;
    cursor: pointer;
    margin: 5px 10px;
    font-size: 18px;
    padding: 12px;
    transition: background-color 0.4s ease;
}
.buttoni:hover {
    background-color: rgb(70, 147, 70);
}

#footer {
    padding: 10px 400px;
    background: #efefef;
}
.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text h1 {
    color: cadetblue;
    margin-top: 40px;
    font-size: 40px;
    cursor: pointer;
}
.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
    cursor: pointer;
}

.footer-row p {
    line-height: 35px;  
    cursor: pointer;
}

.footer-left .bx, .footer-right .bx {
    cursor: pointer;
    font-size: 20px;
    color: cadetblue;
    margin: 10px;
}

.linqet {
    text-align: center;
    justify-content: space-evenly;
    padding: 5px;
}

.linqet .bx {
    margin-bottom: 15px;
    height: 50px;
    width: 50px;
    font-size: 35px;
    line-height: 40px;
    color: cadetblue;
    cursor: pointer;
    justify-content: space-evenly;
}

@media(max-width: 700px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color:  rgb(137, 132, 63);
        transition: all 0.8s ease-in-out;
    }
    .menu li {
        margin-top: 35px;
 
    }

    .menu li a {
        padding: 1px;   
    }

    .Loginbtn {
        margin-top: 35px;
    }

    .Loginbtn:hover {
        background-color: rgb(65, 129, 131);
        border: cadetblue;
    }
    
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0
    }
}

@media screen and (max-width: 600px) {
    .about {
        flex-direction: column;
        align-items: stretch;
    }

    .permbajtja {
        max-width: 100%;
        margin: 20px 0;
    }

    .heading-u {
        font-size: 37.5px;
        margin-top: 20px;
    }

    .about img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
    }

    .footer-left,
    .footer-right {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-left,
    .footer-right,
    .linqet {
        margin-left: 0;
    }

    .linqet {
        margin-top: 15px;
    }

    .title-text h1 {
        font-size: 1.5rem;
    }

    .title-text h1 {
        font-size: 1.5rem;
    }

    .footer-row h1 {
        font-size: 1rem;
    }

    .footer-left, .footer-right p {
        font-size: .8rem;
    }
    .footer-left .bx {
        font-size: .8rem;
    }
    .footer-right .bx {
        font-size: .8rem;
    }
    .linqet .bx {
        font-size: 1.1rem;
    }
}
