* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgb(218, 206, 218);
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 30px;
    /*padding-right: 5px;*/
    color: rgb(88, 148, 150);
    user-select: none;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}
.navbar ul li a {
    position: relative;
    font-size: 1.15em;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: rgb(183, 121, 183);
    font-weight: 500;
    /**/
    margin-left: 40px;
    z-index: 99;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 100%;
    height: 4px;
    background: cadetblue;
    border-radius: 1em;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navbar ul li a:hover::after {
    transform: scaleX(1);
}

.Loginbtn {
    width: 100px;
    height: 40px;
    margin-right: 10px;
    background: transparent;
    border: 2px solid rgb(183, 121, 183);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(183, 121, 183);
    font-weight: 500;
    transition: .5s;
}

.Loginbtn:hover {
    background: rgb(198, 136, 198);
    border: rgb(134, 197, 199);
    color: white;
}

.kontakti {
    margin-top: 30px;
    padding: 50px;
    text-align: center;
    min-height: 100vh;
    background-color: rgb(218, 206, 218);
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.container h2 {
    font-size: 30px;
    color: black;
    margin-bottom: 80px;
    font-family: 'Montserrat', sans-serif;
}
.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.kontakt-form {
    text-align: left;
}
.kontakt-form h1{
    color: black;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-group {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

input, textarea {
    color: black;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 13px;
    background-color: #f8f9fa;
}
input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 20px #bbb;
}

.submitbtn {
    display: inline-block;
    padding: 12px 24px;
    color:white;
    background-color: cadetblue;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
    transition: 0.3s ease;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.submitbtn:hover {
    content: "▶";
}

.submitbtn:hover::after {
    content: "▶";
    margin-left: 10px;
}

.kontakt-icon {
    font-size: 20px;
    color: black;
    position: relative;
    padding-left: 80px;
}

.kontakt-icon img {
    width: 100%;
    margin-right: 50px;
    border-radius: 7px;
    cursor: pointer;
    transition: 2s;
    padding-left: 10px;
}

.fotoja {
    margin-left: 20px;
}

.kontakt-icon img:hover {
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
    opacity: .5;
    transition: 1s;
    transform: rotate(180deg);
}

.kontakt-icon img:hover::after {
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.2),#009688);
    opacity: 1;
    transition: 1s;
    transform: 30s all ease;
}

.shkrimi {
    width: 80%;
    position: absolute;
    bottom: 40%;
    left: 60%;
    transform: translateX(-50%);
}

.shkrimi h3 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #f8f9fa;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.kontakt-icon .shkrimi h3 {
    opacity: 0;
}

.kontakt-icon:hover .shkrimi h3 {
    opacity: 1;
}

#footer {
    padding: 10px 400px;
    background: #efefef;
    box-shadow: 0 .5rem rgb(10, 10, 10);
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text h1 {
    color: cadetblue;
    margin-top: 40px;
    font-size: 40px;
    cursor: pointer;
}
.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
    cursor: pointer;
}

.footer-row p {
    line-height: 35px;  
    cursor: pointer;
}

.footer-left .bx, .footer-right .bx {
    cursor: pointer;
    font-size: 20px;
    color: cadetblue;
    margin: 10px;
}

.linqet {
    text-align: center;
    justify-content: space-evenly;
    padding: 5px;
}

.linqet .bx {
    margin-bottom: 15px;
    height: 50px;
    width: 50px;
    font-size: 35px;
    line-height: 40px;
    color: cadetblue;
    cursor: pointer;
    justify-content: space-evenly;
}

@media screen and (max-width: 760px){
    .container{
        padding: 18px;
    }
    .contact-wrapper{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
    }

    .footer-left,
    .footer-right {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-left,
    .footer-right,
    .linqet {
        margin-left: 0;
    }

    .linqet {
        margin-top: 15px;
    }
}