* {
    margin: 0;
    padding: 0;
}

.headeri {
    width: 100%;
    height: 100vh;
    background-image: url(tulips-blue.jpg);
    background-size: cover;
    background-position: center;
}

.navigation {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: plum;
    user-select: none;
    cursor: pointer;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}
.navigation ul li a{
    position: relative;
    font-size: 1.15em;
    font-family: 'Poppins', sans-serif;
    color: rgb(183, 121, 183);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    z-index: 99;
}

.navigation ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 100%;
    height: 4px;
    background: cadetblue;
    border-radius: 1em;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation ul li a:hover::after {
    transform: scaleX(1);
}

.Loginbtn {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(183, 121, 183);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(183, 121, 183);
    font-weight: 500;
    transition: .5s;
}

.Loginbtn:hover {
    background: rgb(183, 121, 183);
    color: white;
}

.main-text {
    text-align: left;
    color: black;
    padding-top: 180px;
    padding-bottom: 400px;
   
    
}
.main-text h1 {
    font-size: 50px;
    text-align: left;
}
.main-text p {
    font-size: 20px;
    font-style: italic;
}

#footer {
    padding: 10px 400px;
    background: #efefef;
}
.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text h1 {
    color: cadetblue;
    margin-top: 40px;
    font-size: 40px;
    cursor: pointer;
}
.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
    cursor: pointer;
}

.footer-row p {
    line-height: 35px;  
    cursor: pointer;
}

.footer-left .bx, .footer-right .bx {
    cursor: pointer;
    font-size: 20px;
    color: cadetblue;
    margin: 10px;
}

.linqet {
    text-align: center;
    justify-content: space-evenly;
    padding: 5px;
}

.linqet .bx {
    margin-bottom: 15px;
    height: 50px;
    width: 50px;
    font-size: 35px;
    line-height: 40px;
    color: cadetblue;
    cursor: pointer;
    justify-content: space-evenly;
}
