* {
    margin: 0;
    padding: 0;
}

.headeri {
    width: 100%;
    height: 100vh;
    background-image: url(tulips-blue.jpg);
    background-size: cover;
    background-position: center;
}

.navigation {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: plum;
    user-select: none;
    cursor: pointer;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}
.navigation ul li a{
    position: relative;
    font-size: 1.15em;
    font-family: 'Poppins', sans-serif;
    color: rgb(183, 121, 183);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    z-index: 99;
}

.navigation ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 100%;
    height: 4px;
    background: cadetblue;
    border-radius: 1em;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation ul li a:hover::after {
    transform: scaleX(1);
}

.Loginbtn {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(183, 121, 183);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(183, 121, 183);
    font-weight: 500;
    transition: .5s;
}

.Loginbtn:hover {
    background: rgb(183, 121, 183);
    color: white;
}