* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    min-height: 100vh;
    background: url('pexels-andré-beltrame-1449462.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
}
.logini {
    width: 400px;
    background: transparent;
    border: 2px solid rgb(209, 96, 209);
    color: black;
    padding: 30px 40px;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px rgb(207, 101, 182);

}
.logini h1 {
    text-align: center;
    font-size: 35px;
}
.logini .boxiU {
    width: 100%;
    height: 40px;
    position: relative;
    margin: 30px 0;
    background: white(171, 123, 171);
    border: 3px rgb(227, 139, 192);
   

}
.boxiU input {
    width: 100%;
    height: 100%;
    border: 3px solid rgb(221, 117, 205); 
    background: transparent;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    font-size: 18px;
    border: none;
    outline: none;
}
.boxiU input::placeholder {
    color: black;
}
.logini button {
    width: 100%;
    border: none;
    background: rgb(104, 7, 71);
    height: 40px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
    opacity: 1.5;
}
.logini button:hover {
    opacity: 1;
    color: white;
    background-color: rgb(205, 43, 226);
}
.login .linku-regjister {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;

}
.linku-regjister p a {
    color: rgb(173, 62, 156);
    text-decoration: none;
    margin-top: 25px;
    
}
.linku-regjister p a:hover {
    text-decoration: underline;
}
.logini {
    width: 400px;
    background: transparent;
    border: 2px solid rgb(209, 96, 209);
    color: black;
    padding: 30px 40px;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px purple;

}
.logini h1 {
    text-align: center;
    font-size: 35px;
}
.logini .boxiU {
    width: 100%;
    height: 40px;
    position: relative;
    margin: 30px 0;
    background: white(171, 123, 171);
    border: 3px purple;
   

}
.boxiU input {
    width: 100%;
    height: 100%;
    border: 3px solid rgb(94, 0, 128); 
    background: transparent;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    font-size: 18px;
    border: none;
    outline: none;
}
.boxiU input::placeholder {
    color: black;
}
.logini button {
    width: 100%;
    border: none;
    background: rgb(198, 117, 198);
    height: 40px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
    opacity: 1.2;
}
.logini button:hover {
    opacity: 1;
    color: white;
}
.login .linku-regjister {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;

}
.linku-regjister p a {
    color: purple;
    text-decoration: none;
    margin-top: 25px;
    
}
.linku-regjister p a:hover {
    text-decoration: underline;
}