* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav-bar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo {
    font-size: 28px;
    margin: -5px 0;
    margin-left: -10px;
    /*color: plum;*/
    color: #0f0f0f;
    user-select: none;
    cursor: pointer;
}

.menu {
    display: flex;
}

.menu li{
    padding-left: 20px;
    margin: 0 15px;
    position: relative;
}
.menu li a {
    position: relative;
    display: inline-block;
    font-size: 1.15em;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #0f0f0f;
    /*color: rgb(183, 121, 183);*/
    font-weight: 500;
    text-align: center;
    z-index: 99;
}

.menu li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 100%;
    height: 4px;
    background: cadetblue;
    border-radius: 1em;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.menu li a:hover::after {
    transform: scaleX(1);
}

.Loginbtn {
    width: 100px;
    height: 40px;
    margin: -5px 0;
    margin-left: -10px;
    margin-left: 20px;
    background: transparent;
    border: 1.5px solid #0f0f0f;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #0f0f0f;
    font-weight: 500;
    transition: .5s;
}

.Loginbtn:hover {
    background: #e18686;
    border: #df5b5b;
    color: #0f0f0f;
}

.open-menu , .close-menu {
    position: absolute;
    color:  rgb(215, 72, 72);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}

#news-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.Bheading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Bheading span {
    margin-top: 40px;
    margin-bottom: 20px;
    color: red;
    font-family: 'Poppins', sans-serif;
}

.Bheading h3 {
    position: relative;
    display: inline-block;
    font-size: 2.4rem;
    margin-bottom: 40px;
    color: black;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.Bheading h3::before {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 2px;
    background: #df5b5b;
    transition: width 0.3s;
}

.Bheading h3::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: #df5b5b;
    transition: width 0.3s;
}

.Bheading h3::before {
    bottom: -3px;
}

.Bheading h3::after {
    top: -3px;
}

.Bheading h3:hover {
    color: #df5b5b;
}

.Bheading h3:hover::before,
.Bheading h3:hover::after {
    width: 100%;
}

.Bcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.inside-blog {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    border-radius: 2rem;
}

.inside-blog:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.35s ease-in-out;
    /*transition: all .50s ease;*/
    border-radius: 2rem;
}

.foto {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
}

.kontenti {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.kontenti {
    color: #f33c3c;
    font-size: 0.9rem;
}

.kontenti .main-new {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.kontenti .main-new:hover {
    transition: all ease 0.3s;
}

.kontenti span {
    font-family: 'Poppins', sans-serif;
}

.kontenti p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    font-family: 'Poppins', sans-serif;
}

.kontenti .Read {
    position: relative;
    display: inline-block;
    color: #0f0f0f;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.kontenti .Read:hover {
    transition: all ease 0.3s;
}

.kontenti .Read::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 0;
    background: #df5b5b;
    border-radius: 1em;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}
    
.kontenti .Read:hover::after {
    width: 100%;
    transform: scaleX(0.27);
}

#footer {
    padding: 10px 400px;
    background: #efefef;
    box-shadow: 0 .5rem rgb(10, 10, 10);
}
.title-text {
    text-align: center;
    padding-bottom: 70px;
}
.title-text h1 {
    color: cadetblue;
    margin-top: 40px;
    font-size: 40px;
    cursor: pointer;
}
.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
    cursor: pointer;
}

.footer-row p {
    line-height: 35px;  
    cursor: pointer;
}

.footer-left .bx, .footer-right .bx {
    cursor: pointer;
    font-size: 20px;
    color: cadetblue;
    margin: 10px;
}

.linqet {
    text-align: center;
    justify-content: space-evenly;
    padding: 5px;
}

.linqet .bx {
    margin-bottom: 15px;
    height: 50px;
    width: 50px;
    font-size: 35px;
    line-height: 40px;
    color: cadetblue;
    cursor: pointer;
    justify-content: space-evenly;
}

@media(max-width: 700px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color:  rgb(192, 117, 117);/*#df8d8d*//*rgb(199, 80, 80)*/
        transition: all 0.8s ease-in-out;
    }
    .menu li {
        margin-top: 35px;
 
    }

    .menu li a {
        padding: 1px;   
    }

    .Loginbtn {
        margin-top: 35px;
    }

    .Loginbtn:hover {
        background-color: black;
        color: white;
        border: black;
    }
    
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0
    }
}

@media (max-width: 1250px) {
    .inside-blog {
        width: 300px;
    }
}
@media (max-width: 1100px) {
    .inside-blog {
        width: 70%;
    }
}
@media (max-width: 550px) {
    .inside-blog {
        margin: 20px 10px;
        width: 100%;
    }
    #news-blog {
        padding: 20px;
    }
}

@media (max-width: 700px) {
    .Bheading span {
        font-size: .7rem;
    }
    .Bheading h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
    }

    .footer-left,
    .footer-right {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-left,
    .footer-right,
    .linqet {
        margin-left: 0;
    }

    .linqet {
        margin-top: 15px;
    }

    .title-text h1 {
        font-size: 1.5rem;
    }

    .title-text h1 {
        font-size: 1.5rem;
    }

    .footer-row h1 {
        font-size: 1rem;
    }

    .footer-left, .footer-right p {
        font-size: .8rem;
    }
    .footer-left .bx {
        font-size: .8rem;
    }
    .footer-right .bx {
        font-size: .8rem;
    }
    .linqet .bx {
        font-size: 1.1rem;
    }

}
