* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    min-height: 100vh;
    background: url('soft6.webp') no-repeat;
    background-size: cover;
    height: 100vh;
}
.register {
    width: 450px;
    background: transparent;
    border: 5px solid rgb(203, 74, 158);
    padding: 30px 40px;
    color: black;
    border: none;
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px rgb(206, 99, 161) ;
    font-size: 18px;
}
.register h1 {
    text-align: center;
    font-size: 35px;
}
.register .form {
    margin-top: 10px;
}
.form .box {
    margin-top: 10px;
    width: 100%;
    margin-left: 15px;
  
}
.form .box input {
    position: relative;
    height: 32px;
    width: 85%;
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    font-size: 14px;

}
.box input::placeholder {
    color: black;
}

.register button {
    margin-top: 25px;
    width: 85%;
    border: none;
    color: black;
    margin-bottom: 25px;
    background: rgb(227, 107, 187);
    height: 40px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-left: 23px;
    opacity: 3.2;
    transition: all .50s ease;
}
.register button:hover {
    opacity: 1;
    color: white;
    background-color: rgb(206, 101, 189);
}

.linku-login p {
    font-size: 16px;
}

.linku-login p a {
    color: rgb(173, 62, 156);
    text-decoration: none;
    margin-top: 25px;
    
}
.linku-login p a:hover {
    text-decoration: underline;
}


